<div class="dashboard">
  <div class="dashboard-toolbar">
    <p-togglebutton onLabel="GridView" offLabel="ListView" onIcon=" pi-moon" [onIcon]="'pi  pi-objects-column'"
      offIcon="pi pi-list" styleClass="w-36" (click)="toggleViewMode()" />
  </div>

  <div [ngClass]="{ 'grid-layout': gridLayout, 'list-layout': !gridLayout }">
    <app-info-card [label]="'Products on Stock'" [value]="totalProducts"></app-info-card>
    <app-info-card [label]="'Categories Created'" [value]="totalCategories"></app-info-card>
    <app-info-card [label]="'Reviews Received'" [value]="totalReviews"></app-info-card>

  </div>