.dashboard {
  padding: 1rem;

  .dashboard-toolbar {
    display: flex;
    margin-bottom: 1rem;

    button {
      margin-left: 0.5rem;
    }
  }

  .grid-layout {
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: auto auto;
    gap: 1.5rem;

    @media (max-width: 480px) {
      .dashboard {
        grid-template-columns: 1fr;
      }
    }
    
    .item-4{
      grid-column: span 2;
    }


  }

  .list-layout {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}


